<div class="container mt-5">

    <!-- search bar -->
                <form action="/search">
                    <div class="input-group">
                        {{!-- input的value為空時，不能搜尋 --}}
                        <input type="text" id="form" name="keyword" value="{{keyword}}" class="form-control"
                            placeholder="Search" aria-label="Restaurant Name" value=""
                            aria-describedby="search-button">
                        <div class="input-group-append">
                            <button class="btn btn-major" type="submit" id="search-button" onclick="checkEmpty()"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
           

    <!-- restaurant list -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div> {{ noResult }}</div>

                <div class="card-columns">
                    {{#each restaurants}}
                    <a href="./restaurants/{{this._id}}" class="text-secondary">
                        <div class="card mb-3">
                            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                            <div class="card-body p-3">
                                <h6 class="card-title mb-1">{{this.name}}</h6>

                                <div class="restaurant-category mb-1">
                                    <i class="fas fa-utensils pr-2"></i> {{this.category}}
                                </div>

                                <span class="badge badge-pill badge-danger font-weight-normal">
                                    {{this.rating}}
                                    <i class="fas fa-star fa-xs"></i>
                                </span>

                            </div>
                        </div>
                    </a>
                    <div class="d-grid gap-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-sm">
                        Edit
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm">
                        Detail
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm">
                        Delete
                    </button>
                    </div>
                    {{/each}}
                </div>


            </div>
        </div>
    </div>

</div>

<script>
    function checkEmpty() {
        console.log(document.getElementById("form").value)
        if (document.getElementById("form").value === '') {
            alert('請輸入餐廳名後再進行搜尋！');
            return false;
        }

    }
</script>